/* `Imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */