/* `Imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */

/* Global */

/* Reset browsers default margin and padding to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset default font-size of 16px to 10px use percentage */
html {
    font-size: 62.5%; 
}

body {
    font-family: 'Montserrat', sans-serif; 
}

/* Headings */

h1, h2, h3 {
    color: #3E78B2;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

h1 {
    font-size: 4rem;
}

/* Header */

header {
    background: #f1f1f1;
    height: 100vh;
    padding: 4rem 0;
}

.logo {
    color: #303036;
    font-size: 2.4rem;
    text-decoration: none;
}

.logo span {
    color: #3E78B2;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 5rem;
}

.navbar li a {
    color: #303036;
    font-size: 1.4rem;
    text-decoration: none;
}

.navbar li a:hover {
    color: #3E78B2;
}




