/* `Imports */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@700&display=swap');

/* Global */

/* Reset browsers default margin and padding to 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset default font-size of 16px to 10px use percentage */
html {
    font-size: 62.5%; 
}

body {
    font-family: 'Montserrat', sans-serif; 
}

/* Headings */

h1, h2, h3 {
    color: #3E78B2;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

/* Button */

.button {
    color: #3E78B2;
    font-size: 2.4rem;
    text-decoration: none;
    border: 1px solid #3E78B2;
    border-radius: 5px;
    padding: 1.5rem 4rem;
}

.button:hover {
    color: #fff;
    background-color: #3E78B2;;
}

/* Header */

header {
    background: #f1f1f1;
    height: 100vh;
    margin-bottom: 10rem;
    padding: 4rem 0;
}

.logo {
    color: #303036;
    font-size: 2.4rem;
    text-decoration: none;
}

.logo span {
    color: #3E78B2;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto 10rem auto;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 5rem;
}

.navbar li a {
    color: #303036;
    font-size: 1.4rem;
    text-decoration: none;
}

.navbar li a:hover {
    color: #3E78B2;
}

/* Hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; 
}

.hero-text {
    flex-basis: 45%;
}

.hero-text h1 {
    margin-bottom: 2rem;
}

.hero-text h3 {
    color: inherit;
    font-size: 2.4rem;
    font-family: inherit;
    font-weight: 400;
    margin-bottom: 5rem;
}

.hero-img {
    flex-basis: 50%;
}

.hero-img img {
    width: 100%;
}

/* Main */

main {
    width: 80%;
    margin: 0 auto;
}

/* About */

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
}

.about-img {
    flex-basis: 50%;
}

.about-text {
    flex-basis: 45%;
}

.about-text h2 {
    margin-bottom: 2rem;
}

.about-text p {
    color: #303036;
    font-size: 1.5rem;
    line-height: 26px;
    margin-bottom: 1rem;
}

.about-img img {
    width: 100%;
}

.social-links {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.social-links a {
    color: #303036;
    margin-right: 2.5rem;
}

.social-links a:hover {
    color: #3E78B2;
    margin-right: 2.5rem;
}

.social-links i {
    font-size: 2.4rem;
}